.container{
    text-align: center;
width: 90%;
padding: 60px 30px 30px 100px;
}
.item{
   
    width: 33%;
    float: right;
    margin: auto;
}
img{
    width: 100%;
    height: min-content;
    display:inline-block;
}
h1{
    margin: auto;
    padding-bottom: 30px;
}